<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>CarbonVote</title>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="keywords" content="" />
    <meta name="description" content="ProgPoW is a change to the proof of work mining algorithm that's intended to be more ASIC-resistant than the existing algorithm, ethash." />
    <meta name="apple-mobile-web-app-capable" content="no" />
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" type="image/png" href="images/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="images/favicon-16x16.png" sizes="16x16">
    <link rel="stylesheet" type="text/css" href="styles/reset.css" />
    <link rel="stylesheet" type="text/css" href="styles/modal.css" />
    <link rel="stylesheet" type="text/css" href="styles/index.css" />
    <link rel="stylesheet" type="text/css" href="styles/mobile.css" />

    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <!-- Shuffle the YES/NO options to be fairer. -->
    <script>
      // Source: https://stackoverflow.com/questions/1533910/randomize-a-sequence-of-div-elements-with-jquery
      (function($) {

      $.fn.randomize = function(childElem) {
        return this.each(function() {
            var $this = $(this);
            var elems = $this.children(childElem);

            elems.sort(function() { return (Math.round(Math.random())-0.5); });

            $this.detach(childElem);

            for(var i=0; i < elems.length; i++)
              $this.append(elems[i]);

        });
      }
      })(jQuery);

      // randomize on load
      $(function() {
        $("div.box-wrapper").randomize("div.box");
      });
    </script>
</head>
<body>
<main>
  <div class="shadow">
    <header>
      <h1 class="title">ProgPoW CarbonVote</h1>
      <p class="desc">
        Carbonvote.com was initiated during the DAO hard fork and conducted a vote in
        a secure web-page fashion with the feature that the voting conducted did not
        require coins to leave voters’ wallets. It was a great reference
        when the community decided to go with the fork. Our thanks to all that participated
        in the last and our first round of the vote in DAO hard fork.
      </p>
    </header>
  </div>
</main>

<article class="intro">
<h1>NOTE: This site will be shut down and archived on Wednesday, April 10, 2019. If you have not already voted, please vote before this date.</h1>
<h2>Hey Ethereum Community,</h2>
<p>Let us know whether or not you support ProgPoW:</p>

<p>
ProgPoW is a change to the proof of work mining algorithm that's intended to be more ASIC-resistant than the existing algorithm, ethash. ProgPoW has been debated over the past months in various circles in the Ethereum community.
</p>

<p>
We have noticed a lot of trolling and shills on both sides of the debates from anonymous accounts on forums, youtube, telegram, glitter, reddit and twitter. There is no way to know if these accounts are real people who actually have economic stakes in ethereum, or are simply fake troll or shill accounts funded by one side of the debate.
</p>

<p>
Ether token holders are among the people who are going to be financially and economically impacted the most by this decision.
</p>

<p>
We have decided to give them a chance to make their voices heard on whether or not they think changing the proof of work to ProgPoW is a good idea.
</p>

<p>
This vote is simply an additional signal for the community to look at. It is not a binding or final say in the decision, but we believe it is a signal from those who have actual economic stake at risk and should have their voices heard.
</p>

<p>
We encourage all ether token holders to participate.
</p>

<h2>Hashrate Voting </h2>
<p>
If you are pool operator, please add PPYE to your node's extra-data field to signal for ProgPoW or PPNO to oppose it.
</p>    

<h3>How to participate in Hashrate Voting If I'm just mining ether on a pool?<h3>
<p>
Ask your mining pool to provide ProgPoW voting extra-data as described above.    
</p>

<p>
You can find live hashrate voting results at <a href="https://www.etherchain.org/charts/progpow">etherchain.org</a>. 
</p>    

<p>
Please see the following links for more information on ProgPoW or to join the conversation:
</p>    
    
<ul>
    <li><a href="https://github.com/ethereum/EIPs/blob/master/EIPS/eip-1057.md">EIP-1057</a></li>
    <li><a href="https://github.com/ifdefelse/ProgPOW">https://github.com/ifdefelse/ProgPOW</a></li>
    <li><a href="https://gitter.im/ifdefelse/community">https://gitter.im/ifdefelse/community</a></li>
    <li><a href="https://gitter.im/ethereum-cat-herders/community">https://gitter.im/ethereum-cat-herders/community</a></li>
    <li><a href="https://github.com/AndreaLanfranchi/ethminer">ethminer ProgPoW</a></li>
    <li><a href="https://github.com/paritytech/parity-ethereum/pull/9762">Parity</a></li>
    <li><a href="https://github.com/holiman/go-ethereum/tree/progpow">Geth</a></li>
    <li><a href="https://gitcoin.co/grants/54/progpow-full-stack-integration">Fund the grant for past and future development</a></li>
    <li><a href="https://explorer.bounties.network/bounty/2424">Fund the bounty for 3rd party analysis</a></li>
</ul>

</article>

<section class="vote">
  <h2 class="title">How to vote?</h2>
  <p>
  Simply click one of the Vote buttons below to make a <strong>zero ether transaction</strong> to the following contract addresses.
  (On mobile, you will have to make the transaction manually.)
  </p>

  <div class="box-wrapper">
    <div class="box">
      <div>
        <p class="choice">No</p>
        <a class="address" target="_blank" href="http://etherscan.io/address/<%= settings.contract_addresses[:no_contract] %>">
          <%= settings.contract_addresses[:no_contract] %>
        </a>
      </div>

      <div class="action">
        <p class="amount"><%= get_amount(:no_contract).round(4) %> ether</p>
        <button class="send" data-address="<%= settings.contract_addresses[:no_contract] %>">
          Vote
        </button>
      </div>
    </div>

    <div class="box">
      <div>
        <p class="choice">Yes</p>
        <a class="address" target="_blank" href="http://etherscan.io/address/<%= settings.contract_addresses[:yes_contract] %>">
          <%= settings.contract_addresses[:yes_contract] %>
        </a>
      </div>

      <div class="action">
        <p class="amount"><%= get_amount(:yes_contract).round(4) %> ether</p>
        <button class="send" data-address="<%= settings.contract_addresses[:yes_contract] %>">
          Vote
        </button>
      </div>
    </div>

  </div>
</section>

<section class="status">
  <h3 class='title'>Last Block: <%= last_block %></h3>

  <div class="main-status">
    <div class='info left'>
      <p class="label">NO</p>
      <p class="percent"><%= no_precentage %>%</p>
      <p class="ether"><%= no_vote_amount %> ether</p>
    </div>

    <div class="pie-chart-container">
      <canvas id="pie-chart"></canvas>
    </div>

    <div class='info right'>
      <p class="label">YES</p>
      <p class="percent"><%= yes_precentage %>%</p>
      <p class="ether"><%= yes_vote_amount %> ether</p>
    </div>
  </div>

  <div class="info-mobile">
    <div class="no">
      <p class="label">NO</p>
      <p class="percent"><%= no_precentage %>%</p>
      <p class="ether"><%= no_vote_amount %> ether</p>
    </div>

    <div class="yes">
      <p class="label">YES</p>
      <p class="percent"><%= yes_precentage %>%</p>
      <p class="ether"><%= yes_vote_amount %> ether</p>
    </div>
  </div>
</section>

<section class="faq">
  <h2 class="title">Vote Mechanism</h2>
  <div class="inner">
    <div class="item">
      <p class="question">1) Who should vote?</p>
      <p class="anwser">Those who hold private keys that control access to ether.</p>
    </div>

    <div class="item">
      <p class="question">2) So we are going to count heads?</p>
      <p class="anwser">No. We are going to count ether. One vote per ether you control.</p>
    </div>

    <div class="item">
      <p class="question">3) How do I vote?</p>
      <p class="anwser">
        Simply, send a 0-ETH transaction from your wallet to the YES or NO address.
        The transaction itself serves as a message of the vote.
        The ether under the from address of the transaction will be considered
        a batch of ballots that support or oppose the proposal. For the transactions to succeed,
        a minimum of 30,000 gas is required.
        (Note that if you send a transaction with ether, it will fail.
        If your wallet software does not allow a zero ether transaction, try
        <a href="https://mycrypto.com/">MyCrypto</a> or <a href="https://www.myetherwallet.com/">MyEtherWallet</a>.)
      </p>

      <p class="anwser">
        <strong>Your ether are safe in your account. The vote contract does not collect or lock funds.</strong>
      </p>
    </div>

    <div class="item">
      <p class="question">4) How's the vote counted?</p>
      <p class="anwser">
        We dynamically calculate the ETH that has gone to the two sides as the vote is going on.
      </p>

      <p class="anwser">
        So you can change your mind, you can overwrite your vote by resending your
        message or move the ETH from the addresses that have participated so as
        to suggest that you are abstaining from the vote as the ETH won't
        be counted as votes anymore.
      </p>
    </div>

    <div class="item">
      <p class="question">5) Can I view the source code?</p>
      <p class="anwser">
      Yes, it's all in Github in <a href="https://github.com/lrettig/carbonvote">this repo</a>.
      Feel free to submit a PR if you find an issue.
      Vote contract code is <a href="https://github.com/lrettig/carbonvote/blob/master/contract/vote.sol">here</a>.
      </p>
    </div>
  </div>
</section>

<section class="exchange-filter">
  <h2 class="title">Accounts filtered (Exchange's withdraw address)</h2>
  <div class="inner">
    <input type="text" placeholder="input address">
    <button type="submit">submit</button>
  </div>

  <p class="desc">
    <a id="show-exchange-list" href="#">Exchange list</a>
  </p>

  <div class="exchange-list">
    <ul>
      <% settings.black_list.each do |name, address| %>
        <li><%= name %>: <a href="http://etherscan.io/address/<%= address %>"><%= address %></a></li>
      <% end %>
    </ul>
  </div>
</section>

<footer>
  <h3 class="title">Contributed by</h3>
  <nav class="contribute-nav">
    <a href="http://ethfans.org/">Ethfans</a>
    <a href="http://andui.com/">Andui</a>
    <a href="http://consenlabs.com/">ConsenLabs</a>
    <a href="http://cryptape.com/">Cryptape</a>
  </nav>

  <h3 class="title">Made by</h3>
  <nav>
    <a href="https://github.com/lgn21st">Daniel Lv</a>
    <a href="https://github.com/Aaaaaashu">Ashu</a>
    <a href="https://github.com/lrettig">Lane</a>
  </nav>
</footer>

<a href="https://github.com/lrettig/carbonvote"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script src="javascripts/modal.js"></script>
<script src="javascripts/index.js"></script>
</body>
</html>
